* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Avenir', sans-serif;
}

h1 {
    text-align: center;
    margin: 20px;
}

.container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;

}

.paragraph {
    display: block;
    line-height: 4vh;
    text-align: left;
    padding: 10px 10px;
}


.chicken {
    display: inline-block;
    border: 1px solid black;
    width: 30%;
    height: 180px;
    padding: 10px 20px;
    margin: 10px;
    background-color: gray;
    word-wrap: break-word;
    overflow: hidden;
    
}

.chicken-label {
    position: relative;
    float: right;
    background-color: pink;
    width: 35%;
    text-align: center;
    border: 1px solid black;
    bottom: 11px;
    left: 21px;
}

.chicken-label h3 {
    position: static;
   
    text-overflow: clip;
    
}

.beef {
    display: inline-block;  
    border: 1px solid black;
    width: 30%;
    height: 180px;
    padding: 10px 20px;
    margin: 10px;
    background-color: gray;
    word-wrap: break-word;
    overflow: hidden;
}

.beef-label {
    position: relative;
    float: right;
    background-color: rgb(128, 32, 32);
    width: 35%;
    text-align: center;
    border: 1px solid black;
    bottom: 11px;
    left: 21px;
    color: white;
}

.beef-label h3 {
    position: static;
    overflow: auto;

}

.sushi {
    display: inline-block;  
    border: 1px solid black;
    width: 30%;
    height: 180px;
    padding: 10px 20px;
    margin: 10px;
    background-color: gray; 
    word-wrap: break-word;
    overflow: hidden;
}

.sushi-label {
    position: relative;
    float: right;
    background-color: rgb(226, 214, 103);
    width: 35%;
    text-align: center;
    border: 1px solid black;
    bottom: 11px;
    left: 21px;
}

.shushi-label h3 {
    position: static;
    overflow: visible;
}

p {
    position: relative;
    margin: 15px 10px;
    display: inline;
    overflow: auto;
    
    
}

/* Large screens */
@media (max-width: 992px) {
    .chicken {
        width: 80%;
    }
    .beef {
        width: 80%;
    }
    .sushi {
        width: 95%;
        position: absolute;
        top: 290px;
        justify-content: center;
    }
    .container {
        
        align-content: center;
    }
}
    

/* Medium screens */
@media (max-width: 767px) and (min-width: 991px) {
    .chicken {
        width: 50%;
        font-size: 8px;
    }
    .beef {
        width: 50%;
        font-size: 8px;
    }
    .sushi {
        width: 50%;
    }
    .paragraph p {
        text-align: center;
    } 

    .
}

/* Small screens */

@media (max-width: 767px) {
    .chicken {
        position: relative;
        bottom: 30px;
        left: 150px;
        display: block;
        width: 55%;
    }

    .beef {
        position: relative;
        bottom: 20px;
        left: 150px;
        display: block;
        width: 55%;
    }

    .sushi {
        position: relative;
        display: block;
        width: 55%;
        top: -10px;
        left: 150px;
    }

    .container {
     display: block;
    }
    p {
        text-size: 8px;
    }
}

   